*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background-color: rgb(0,0,0);
	color: rgb(42,51,60);
}
p{
	margin-top: 0;
	margin-bottom: 1rem;
}
.bannerBox{
	position: relative;
	height: auto;
	padding-bottom: 15.6%;
}
.bannerContent{
	min-height: 0;
	height: auto;
	position: fixed;
	z-index: -1;
	width: 100%;
	left: 0px;
}
.bannerContent img{
	display: block;
	height: auto;
	width: 100%;
	vertical-align: middle;
}
@media (min-width: 992px){
  .bannerBox {
   margin-top: 60px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .bannerBox {
    margin-top: 110px;
  }
}
@media (max-width: 768px) {
  .bannerBox {
    margin-top: 60px;
  }
}
/*内容*/
.productList{
	min-height: 100px;
	padding: 70px 0px;
	background-color: rgb(0,0,0);
}
.productList ul{
	padding: 0;
	margin: 0; 
	overflow: hidden;
}
.productList li{
	/*width: 50%;*/
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
	padding-left: .9375rem;
    padding-right: .9375rem;
}
.proImgBox{
	text-align: center;
}
.proImgBox img{
	max-width: 100%;
}
.proTxtBox{
	background-color: transparent;
	opacity: 1;
	padding: 6%;
	height: 100%;
}
.proTxtInfo{
	/*opacity: 0;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0px;
}
.proTxtInfo h3{
	font-weight: 400;
	font-size: 16px;
	color: rgb(255,255,255);
	margin-top: 22px;
	text-align: center;
	transition: all 0.3s ease; 0s;
}
.proTxtInfo p{
	text-align: center;
	font-size: 13px;
	color: rgb(255,255,255);
	margin-bottom: 22px;
}
@media(min-width:1023px){
	.productList li{
		margin-bottom: 1.875rem;
	}
	.proImg{
		position: relative;
		overflow: hidden;
	}
	.proTxtBox{
		position: absolute;
		top: -100%;
		left: 0px;
		width: 100%;
		height: 100%;
		padding: 0px;
		background-color: rgb(232,194,3);
		opacity: 0;
		transition: all .6s ease-in-out;
	}
	.proTxtBox:before{
		content: "";
		width: calc(100% - 32px);
	    height: calc(100% - 32px);
	    position: absolute;
	    top: 16px;
	    left: 16px;
	    border: 1px solid #fff;
	}
	.proTxtInfo h3:after{
		content: '';
		display: block;
		position: absolute;
		width: 16px;
		height: 1px;
		background: #fff;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
	.proTxtInfo p:after{
		content: '';
		display: block;
		position: absolute;
		width: 16px;
		height: 1px;
		background: #fff;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
	.productList li:hover .proTxtBox{
		top: 0px;
		opacity: 0.74;
	}
}
@media(max-width:1024px){
	.productList li{
		margin-bottom: 0px;
	}
	.productList li:hover{
		background-color: rgb(243,243,243);
	}
	.productList li:hover .proTxtInfo h3{
		color: rgb(232,194,3);
	}
	.proTxtInfo{
		opacity: 1;
		position: relative;
	    top: 0px;
	    left: 0px;
	    transform: none;
	    width: 100%;
	    text-align: center;
	}
	.proTxtInfo h3{
	    margin-top: 0px;
	    display: inline-block;
	    width: 100%;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
	.proTxtInfo p{
		font-size: 14px;
		margin-bottom: 0px;
		color: rgb(153,153,153);
	}
}
.page{
	margin-top: 20px;
	text-align: center;
	cursor: default;
}
.pageCenter{
	display: inline-block;
}
.pageUp,.pageUp{
	color: rgb(204, 213, 219);
    padding: 9px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(228, 234, 236);
    border-image: initial;
    background: rgb(255, 255, 255);
    float: left;
}
.pageNum{
	cursor: default;
	color: rgb(255, 255, 255);
    background: rgb(232, 194, 3);
    border-color: rgb(232, 194, 3);
    text-align: center;
    padding: 9px 15px;
    border: 1px solid rgb(232, 194, 3);
    float: left;
}
@media(max-width:768px){
	.page{
		display: none;
	}
}

/*锚点回到顶部*/
.toTop{
	opacity: 0.5;
	display: none;
	transition: 1s ease-out; 0s;
	display: inline-block;
    height: 40px;
    width: 40px;
    z-index: 9;
    position: fixed;
    bottom: -100px;
    right: 10px;
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-align: center;
    line-height: 32px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px;
    white-space: nowrap;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
}
.toTop:hover{
	background-color: #e8c203;
	opacity: 1;
	border-color:rgba(0,0,0,0.5);
}
@media(max-width:768px){
	.toTop{
		bottom: 67px!important;
	}
}